build/**
**/CMakeFiles/**
**/cmake_install.cmake
**/CMakeCache.txt
**/*.kate-swp
bin/**
project/**
.kdev4/**
*.kdev4
tmp/**
**/tmp/**
shark/**
build_release/**
.kdev**
grave/**
*.o
*.so
mlrMBO.Rcheck
mlrMBO_*.tar.gz
.Rproj.user
*.Rproj
.Rhistory
html
bench/soo/soo_bench-files/
bench/mco/mco_bench-files/
bench/mlr/modelsel-files
src/*.o
src/*.so
*-swp
**/tmp/**
*.RData
.Rhistory
.Rcheck
SVMBr*tar.gz
*.Rcheck
webpage/**
tmp/*
